Clean The Original Data

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load in file
original_data = "Data/unclean_data.csv"

In [3]:
# Read and display the dataset
original_data_df = pd.read_csv(original_data)
original_data_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
# list all columns from the original dataset 
#list(original_data_df.columns)

In [5]:
# rename some columns from the original dataset for clarity
original_data_df.rename(columns = {'bp':'blood_pressure','sg':'specific_gravity',
'al':'albumin','su':'sugar','rbc':'red_blood_cells','pc':'pus_cell','pcc':'pus_cell_clumps','ba':'bacteria','bgr':'blood_glucose_random',
'bu':'blood_urea','sc':'serum_creatinine','sod':'sodium','pot':'potassium','hemo':'hemoglobin','pcv':'packed_cell_volume','wc':'white_blood_cell_count','rc':'red_blood_cell_count',
'htn':'hypertension','dm':'diabetes_mellitus','cad':'coronary_artery_disease','appet':'appetite',
'pe':'pedal_edema','ane':'anemia'}, inplace = True)

In [6]:
#Check the dataset to make sure the headers are descriptive
original_data_df.head()

,id,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [21]:
#Remove null values from the dataset
nonulls = original_data_df.dropna()
nonulls

,id,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [22]:
# What type of data is included in this set
nonulls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       158 non-null    int64
 1   age                      158 non-null    float64
 2   blood_pressure           158 non-null    float64
 3   specific_gravity         158 non-null    float64
 4   albumin                  158 non-null    float64
 5   sugar                    158 non-null    float64
 6   red_blood_cells          158 non-null    object
 7   pus_cell                 158 non-null    object
 8   pus_cell_clumps          158 non-null    object
 9   bacteria                 158 non-null    object
 10  blood_glucose_random     158 non-null    float64
 11  blood_urea               158 non-null    float64
 12  serum_creatinine         158 non-null    float64
 13  sodium                   158 non-null    float64
 14  potassium                158 non-null    float64
 15  hemoglobin               158 non-null    float64
 16  packed_cell_volume       158 non-null    object
 17  white_blood_cell_count   158 non-null    object
 18  red_blood_cell_count     158 non-null    object
 19  hypertension             158 non-null    object
 20  diabetes_mellitus        158 non-null    object
 21  coronary_artery_disease  158 non-null    object
 22  appetite                 158 non-null    object
 23  pedal_edema              158 non-null    object
 24  anemia                   158 non-null    object
 25  classification           158 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB

In [23]:
# what are the unique values in the numeric and categorical columns
#Listed unique values in the original_data_df
numerical_features = []
categorical_features = []

for i in nonulls.columns:
    if nonulls[i].nunique()>7:
        numerical_features.append(i)
    else:
        categorical_features.append(i)

In [24]:
# Display List of unique values
print('Numerical features: ', numerical_features)
print('\nCategorical features: ', categorical_features)

Numerical features:  ['id', 'age', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'hemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count']

Categorical features:  ['blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia', 'classification']

In [25]:
# Check for incorrect data (characters, anything that doesn't make sense for the column type)
for feats in categorical_features:
    print(f'{feats} has {nonulls[feats].unique()} categories.\n')

blood_pressure has [ 70.  90.  80.  60. 100.  50. 110.] categories.

specific_gravity has [1.005 1.02  1.01  1.015 1.025] categories.

albumin has [4. 2. 3. 0. 1.] categories.

sugar has [0. 2. 4. 1. 3. 5.] categories.

red_blood_cells has ['normal' 'abnormal'] categories.

pus_cell has ['abnormal' 'normal'] categories.

pus_cell_clumps has ['present' 'notpresent'] categories.

bacteria has ['notpresent' 'present'] categories.

hypertension has ['yes' 'no'] categories.

diabetes_mellitus has ['no' 'yes'] categories.

coronary_artery_disease has ['no' 'yes'] categories.

appetite has ['poor' 'good'] categories.

pedal_edema has ['yes' 'no'] categories.

anemia has ['yes' 'no'] categories.

classification has ['ckd' 'notckd'] categories.

In [26]:
#Replace incorrect values
nonulls['diabetes_mellitus'] = nonulls['diabetes_mellitus'].replace(to_replace = {'\tno':'no','\tyes':'yes',' yes':'yes'})
nonulls['coronary_artery_disease'] = nonulls['coronary_artery_disease'].replace(to_replace = '\tno', value='no')
nonulls['classification'] = nonulls['classification'].replace(to_replace = 'ckd\t', value = 'ckd')

C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [27]:
# check to make sure the incorrect values have been replaced
for feats in categorical_features:
    print(f'{feats} has {nonulls[feats].unique()} categories.\n')

blood_pressure has [ 70.  90.  80.  60. 100.  50. 110.] categories.

specific_gravity has [1.005 1.02  1.01  1.015 1.025] categories.

albumin has [4. 2. 3. 0. 1.] categories.

sugar has [0. 2. 4. 1. 3. 5.] categories.

red_blood_cells has ['normal' 'abnormal'] categories.

pus_cell has ['abnormal' 'normal'] categories.

pus_cell_clumps has ['present' 'notpresent'] categories.

bacteria has ['notpresent' 'present'] categories.

hypertension has ['yes' 'no'] categories.

diabetes_mellitus has ['no' 'yes'] categories.

coronary_artery_disease has ['no' 'yes'] categories.

appetite has ['poor' 'good'] categories.

pedal_edema has ['yes' 'no'] categories.

anemia has ['yes' 'no'] categories.

classification has ['ckd' 'notckd'] categories.

In [28]:
# Check for incorrect data (characters, anything that doesn't make sense for the column type)
for feats in numerical_features:
    print(f'{feats} has {nonulls[feats].unique()} numeric_values.\n')

id has [  3   9  11  14  20  22  27  48  58  71  74  76  84  90  91  92  93 127
 128 130 133 144 147 153 157 159 171 176 181 189 190 196 198 210 212 213
 225 226 229 242 246 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 269 270 271 272 275 277 278 279 281 282 284
 285 286 289 291 292 296 298 299 301 304 305 306 307 308 310 311 313 314
 317 318 320 321 323 325 326 327 329 331 333 335 337 338 339 340 341 342
 343 344 345 347 348 351 352 353 354 355 356 357 358 359 360 361 362 364
 366 367 368 369 370 371 372 373 374 375 376 377 379 380 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399] numeric_values.

age has [48. 53. 63. 68. 61. 69. 73. 46. 56. 59. 71. 52. 50. 70. 60. 55. 62. 83.
 21. 45. 64.  6. 49. 40. 23. 57. 51. 34. 38. 42. 35. 30. 25. 24. 20. 33.
 66. 47. 41. 44. 43. 39. 58. 65. 32. 37. 22. 29. 74. 75. 28. 72. 79. 80.
 15. 36. 12. 17.] numeric_values.

blood_glucose_random has [117.  70. 380. 157. 173.  95. 264. 253. 163. 129. 133.  76. 280. 210.
 219. 295. 118. 224. 128. 105. 288. 273. 122. 303. 102. 107. 239.  94.
 252. 255. 214. 490. 241. 106. 424. 176. 140.  82. 119.  99. 121. 131.
  91.  98. 104. 132.  97. 111.  96. 139. 125. 123. 112. 130. 100.  81.
  93. 124.  89. 127. 137. 120. 109.  80. 134.  92.  88. 108.  83.  86.
  87.  79.  74.  78. 113.  75.  85. 114.] numeric_values.

blood_urea has [ 56. 107.  60.  90. 148. 163.  87.  32. 142.  92. 139. 186.  35.  26.
  82. 125. 166. 208.  53.  36. 235.  42.  40.  52.  58.  67. 158. 132.
 150.  73.  95.  54. 191.  96. 215.  55. 309.  10.  49.  17.  38.  27.
  20.  31.  18.  46.  24.  33.  19.  34.  25.  15.  22.  44.  23.  50.
  37.  48.  30.  28.  29.  39.  45.  47.  16.  41.] numeric_values.

serum_creatinine has [ 3.8  7.2  2.7  4.1  3.9  7.7  0.9  4.6  3.3  6.7  8.5 15.   3.2  1.7
  3.6  5.6  5.3  9.2  2.3 14.2  1.3  2.6  2.2  4.3  1.  11.8 12.8 11.9
 12.   6.3 15.2 13.3  1.2  0.6  0.8  0.5  0.7  1.1  0.4] numeric_values.

sodium has [111. 114. 131. 130. 135. 136. 125. 138. 141. 132. 143. 133. 140. 134.
 122. 115. 137. 120. 124. 150. 147. 144. 146. 139. 142. 145.] numeric_values.

potassium has [ 2.5  3.7  4.2  6.4  5.2  3.8  4.   5.8  4.8  5.5  7.6  3.5  4.4  2.9
  4.9 47.   3.   3.4  4.7  5.7  5.4  3.2  5.6  4.6  3.9  4.5  6.5  5.
  3.6  4.1  4.3  3.3] numeric_values.

hemoglobin has [11.2  9.5 10.8  5.6  7.7  9.8 12.5 10.  10.5  9.1 10.3  7.1 13.  16.1
 10.4  9.2 11.4  8.1  8.2 12.  11.1  7.9  8.3 12.6  8.7  9.9  7.3 10.9
 11.5  9.6  9.4  8.6  3.1 15.  17.  15.9 15.4 13.6 14.5 14.  13.9 14.1
 15.5 16.2 14.4 14.2 13.2 14.3 13.8 14.8 16.5 15.7 16.3 14.6 16.9 16.
 14.7 16.6 14.9 16.7 16.8 13.5 15.1 13.1 17.1 15.2 13.7 17.3 15.6 17.4
 15.8 13.4 17.7 17.8 13.3 17.5 17.2 17.6 16.4 15.3] numeric_values.

packed_cell_volume has ['32' '29' '16' '24' '37' '33' '28' '36' '22' '40' '52' '30' '35' '23'
 '25' '39' '26' '20' '31' '34' '9' '48' '46' '42' '49' '41' '44' '45' '43'
 '50' '51' '47' '53' '54'] numeric_values.

white_blood_cell_count has ['6700' '12100' '4500' '11000' '9200' '6900' '9600' '18900' '7200' '14600'
 '6400' '6200' '3800' '9800' '12500' '5600' '7000' '15200' '5000' '16300'
 '8400' '10500' '7900' '10900' '12800' '12400' '19100' '7500' '16700'
 '26400' '8800' '7400' '12000' '15700' '11500' '10200' '5400' '10400'
 '9100' '8300' '10700' '4300' '9400' '8600' '6800' '9500' '9000' '4700'
 '6300' '5800' '5500' '5300' '7100' '8200' '8100' '7800' '7300' '7700'
 '9900' '5200' '6000' '10300' '9300' '6500' '8000' '9700' '5100' '5700'
 '6600'] numeric_values.

red_blood_cell_count has ['3.9' '3.7' '3.8' '2.6' '3.2' '3.4' '4.1' '3.5' '4.3' '4' '2.1' '4.2'
 '5.6' '3.6' '2.9' '2.7' '8.0' '3.0' '3.1' '4.8' '4.5' '3.3' '2.5' '5.0'
 '4.7' '6.2' '5.2' '6.3' '5.1' '5.8' '5.5' '5.3' '4.9' '5.4' '4.6' '6.4'
 '6.0' '5.9' '5.7' '6.5' '6.1'] numeric_values.

In [29]:
#Replace incorrect values
nonulls['white_blood_cell_count'] = nonulls['white_blood_cell_count'].replace(to_replace = {'\t?':'','\t6200':'6200','\t8400':'8400'})
nonulls['red_blood_cell_count'] = nonulls['red_blood_cell_count'].replace(to_replace = '\t?', value='')
nonulls['packed_cell_volume'] = nonulls['packed_cell_volume'].replace(to_replace = '\t?', value = '')

C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\crish\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [30]:
# check to make sure the incorrect values have been replaced
for feats in numerical_features:
    print(f'{feats} has {nonulls[feats].unique()} numeric_values.\n')

id has [  3   9  11  14  20  22  27  48  58  71  74  76  84  90  91  92  93 127
 128 130 133 144 147 153 157 159 171 176 181 189 190 196 198 210 212 213
 225 226 229 242 246 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 269 270 271 272 275 277 278 279 281 282 284
 285 286 289 291 292 296 298 299 301 304 305 306 307 308 310 311 313 314
 317 318 320 321 323 325 326 327 329 331 333 335 337 338 339 340 341 342
 343 344 345 347 348 351 352 353 354 355 356 357 358 359 360 361 362 364
 366 367 368 369 370 371 372 373 374 375 376 377 379 380 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399] numeric_values.

age has [48. 53. 63. 68. 61. 69. 73. 46. 56. 59. 71. 52. 50. 70. 60. 55. 62. 83.
 21. 45. 64.  6. 49. 40. 23. 57. 51. 34. 38. 42. 35. 30. 25. 24. 20. 33.
 66. 47. 41. 44. 43. 39. 58. 65. 32. 37. 22. 29. 74. 75. 28. 72. 79. 80.
 15. 36. 12. 17.] numeric_values.

blood_glucose_random has [117.  70. 380. 157. 173.  95. 264. 253. 163. 129. 133.  76. 280. 210.
 219. 295. 118. 224. 128. 105. 288. 273. 122. 303. 102. 107. 239.  94.
 252. 255. 214. 490. 241. 106. 424. 176. 140.  82. 119.  99. 121. 131.
  91.  98. 104. 132.  97. 111.  96. 139. 125. 123. 112. 130. 100.  81.
  93. 124.  89. 127. 137. 120. 109.  80. 134.  92.  88. 108.  83.  86.
  87.  79.  74.  78. 113.  75.  85. 114.] numeric_values.

blood_urea has [ 56. 107.  60.  90. 148. 163.  87.  32. 142.  92. 139. 186.  35.  26.
  82. 125. 166. 208.  53.  36. 235.  42.  40.  52.  58.  67. 158. 132.
 150.  73.  95.  54. 191.  96. 215.  55. 309.  10.  49.  17.  38.  27.
  20.  31.  18.  46.  24.  33.  19.  34.  25.  15.  22.  44.  23.  50.
  37.  48.  30.  28.  29.  39.  45.  47.  16.  41.] numeric_values.

serum_creatinine has [ 3.8  7.2  2.7  4.1  3.9  7.7  0.9  4.6  3.3  6.7  8.5 15.   3.2  1.7
  3.6  5.6  5.3  9.2  2.3 14.2  1.3  2.6  2.2  4.3  1.  11.8 12.8 11.9
 12.   6.3 15.2 13.3  1.2  0.6  0.8  0.5  0.7  1.1  0.4] numeric_values.

sodium has [111. 114. 131. 130. 135. 136. 125. 138. 141. 132. 143. 133. 140. 134.
 122. 115. 137. 120. 124. 150. 147. 144. 146. 139. 142. 145.] numeric_values.

potassium has [ 2.5  3.7  4.2  6.4  5.2  3.8  4.   5.8  4.8  5.5  7.6  3.5  4.4  2.9
  4.9 47.   3.   3.4  4.7  5.7  5.4  3.2  5.6  4.6  3.9  4.5  6.5  5.
  3.6  4.1  4.3  3.3] numeric_values.

hemoglobin has [11.2  9.5 10.8  5.6  7.7  9.8 12.5 10.  10.5  9.1 10.3  7.1 13.  16.1
 10.4  9.2 11.4  8.1  8.2 12.  11.1  7.9  8.3 12.6  8.7  9.9  7.3 10.9
 11.5  9.6  9.4  8.6  3.1 15.  17.  15.9 15.4 13.6 14.5 14.  13.9 14.1
 15.5 16.2 14.4 14.2 13.2 14.3 13.8 14.8 16.5 15.7 16.3 14.6 16.9 16.
 14.7 16.6 14.9 16.7 16.8 13.5 15.1 13.1 17.1 15.2 13.7 17.3 15.6 17.4
 15.8 13.4 17.7 17.8 13.3 17.5 17.2 17.6 16.4 15.3] numeric_values.

packed_cell_volume has ['32' '29' '16' '24' '37' '33' '28' '36' '22' '40' '52' '30' '35' '23'
 '25' '39' '26' '20' '31' '34' '9' '48' '46' '42' '49' '41' '44' '45' '43'
 '50' '51' '47' '53' '54'] numeric_values.

white_blood_cell_count has ['6700' '12100' '4500' '11000' '9200' '6900' '9600' '18900' '7200' '14600'
 '6400' '6200' '3800' '9800' '12500' '5600' '7000' '15200' '5000' '16300'
 '8400' '10500' '7900' '10900' '12800' '12400' '19100' '7500' '16700'
 '26400' '8800' '7400' '12000' '15700' '11500' '10200' '5400' '10400'
 '9100' '8300' '10700' '4300' '9400' '8600' '6800' '9500' '9000' '4700'
 '6300' '5800' '5500' '5300' '7100' '8200' '8100' '7800' '7300' '7700'
 '9900' '5200' '6000' '10300' '9300' '6500' '8000' '9700' '5100' '5700'
 '6600'] numeric_values.

red_blood_cell_count has ['3.9' '3.7' '3.8' '2.6' '3.2' '3.4' '4.1' '3.5' '4.3' '4' '2.1' '4.2'
 '5.6' '3.6' '2.9' '2.7' '8.0' '3.0' '3.1' '4.8' '4.5' '3.3' '2.5' '5.0'
 '4.7' '6.2' '5.2' '6.3' '5.1' '5.8' '5.5' '5.3' '4.9' '5.4' '4.6' '6.4'
 '6.0' '5.9' '5.7' '6.5' '6.1'] numeric_values.

In [34]:
# Display final Data Frame
nonulls

,id,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [36]:
nonulls.to_csv('Data/cleaned_data.csv',index = False)

Explore The Data

In [38]:
# statistics

Training

In [40]:
#.............